<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867725831278-eo9hm51kac6f8e6m8nc2ka327343fr5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867725831278-eo9hm51kac6f8e6m8nc2ka327343fr5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAWJDeAjwK3_fqyUuQ7uQzipQaCZNf-qKw</string>
	<key>GCM_SENDER_ID</key>
	<string>867725831278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.flutter-firebase-login</string>
	<key>PROJECT_ID</key>
	<string>fir-login-de1b8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-de1b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867725831278:ios:178bbfe7b706c04a218a7f</string>
</dict>
</plist>